.manage-filters-flyout-container {
  font-size: 14px;
  font-size: 0.875rem;
  padding-bottom: 16px;
  padding-bottom: 1rem; }
  .manage-filters-flyout-container .borderless {
    border: none; }
  .manage-filters-flyout-container .edit-device-group-btn {
    background: none;
    border: none;
    cursor: pointer; }
  .manage-filters-flyout-container .device-grops-grid-container {
    margin-top: 24px;
    margin-top: 1.5rem; }
  .manage-filters-flyout-container .add-btn {
    padding-left: 0;
    padding-right: 0;
    margin: 24px 0px 24px 0px;
    margin: 1.5rem 0rem 1.5rem 0rem; }
  .manage-filters-flyout-container .actions-button {
    min-width: 110px;
    min-width: 6.875rem; }
  .manage-filters-flyout-container .btn-toolbar {
    justify-content: flex-end;
    padding-top: 32px;
    padding-top: 2rem; }
  .theme-dark .manage-filters-flyout-container .property-grid-container .grid-header .cell {
    color: #afb9c3; }
  .theme-dark .manage-filters-flyout-container .edit-device-group-btn {
    color: #fff; }
  .theme-light .manage-filters-flyout-container .property-grid-container .grid-header .cell {
    color: #666; }
  .theme-light .manage-filters-flyout-container .edit-device-group-btn {
    color: #333; }
