.radio-container {
  display: flex;
  flex-flow: row nowrap; }
  .radio-container + .radio-container {
    margin-top: 12px;
    margin-top: 0.75rem; }
  .radio-container .radio-input-container {
    margin-left: 16px;
    margin-left: 1rem; }
    .radio-container .radio-input-container > input[type=radio] {
      display: none; }
    .radio-container .radio-input-container .radio-icon {
      cursor: pointer;
      height: 16px;
      height: 1rem;
      width: 16px;
      width: 1rem; }
      .radio-container .radio-input-container .radio-icon svg {
        overflow: visible;
        height: 16px;
        height: 1rem;
        width: 16px;
        width: 1rem;
        padding: 1px;
        padding: 0.0625rem; }
      .radio-container .radio-input-container .radio-icon.disabled {
        cursor: auto; }
    .theme-dark .radio-container .radio-input-container .radio-icon svg .outer-border {
      stroke: #3e4145;
      fill: none; }
    .theme-dark .radio-container .radio-input-container .radio-icon svg .inner-circle {
      fill: none; }
    .theme-dark .radio-container .radio-input-container .radio-icon.disabled svg .inner-circle,
    .theme-dark .radio-container .radio-input-container .radio-icon.disabled svg .outer-border {
      stroke: #3e4145 !important;
      /* Important to override hover */
      fill: #3e4145 !important; }
    .theme-dark .radio-container .radio-input-container > input[type=radio]:checked + .radio-icon svg .inner-circle {
      fill: #fff; }
    .theme-dark .radio-container .radio-input-container > input[type=radio]:not(:checked) + .radio-icon:hover svg .outer-border {
      stroke: #afb9c3; }
    .theme-light .radio-container .radio-input-container .radio-icon svg .outer-border {
      stroke: #3e4145;
      fill: none; }
    .theme-light .radio-container .radio-input-container .radio-icon svg .inner-circle {
      fill: none; }
    .theme-light .radio-container .radio-input-container .radio-icon.disabled svg .inner-circle,
    .theme-light .radio-container .radio-input-container .radio-icon.disabled svg .outer-border {
      stroke: #3e4145 !important;
      /* Important to override hover */
      fill: #3e4145 !important; }
    .theme-light .radio-container .radio-input-container > input[type=radio]:checked + .radio-icon svg .inner-circle {
      fill: #3e4145; }
    .theme-light .radio-container .radio-input-container > input[type=radio]:not(:checked) + .radio-icon:hover svg .outer-border {
      stroke: #afb9c3; }
  .radio-container .input-contents {
    display: flex;
    flex-flow: column nowrap;
    flex-grow: 1;
    margin-left: 10px;
    margin-left: 0.625rem; }
    .radio-container .input-contents > .form-group-label {
      font-size: 14px;
      font-size: 0.875rem; }
      .radio-container .input-contents > .form-group-label + div {
        margin-top: 12px;
        margin-top: 0.75rem; }
      .theme-dark .radio-container .input-contents > .form-group-label {
        color: #fff; }
      .theme-light .radio-container .input-contents > .form-group-label {
        color: #333; }
    .radio-container .input-contents > input[type=text],
    .radio-container .input-contents > input[type=number],
    .radio-container .input-contents > input[type=password],
    .radio-container .input-contents > textarea {
      font-size: 14px;
      font-size: 0.875rem; }
