/**
 * React Select
 * ============
 * Created by Jed Watson and Joss Mackison for KeystoneJS, http://www.keystonejs.com/
 * https://twitter.com/jedwatson https://twitter.com/jossmackison https://twitter.com/keystonejs
 * MIT License: https://github.com/JedWatson/react-select
*/
@keyframes Select-animation-spin {
  to {
    transform: rotate(1turn); } }

@-webkit-keyframes Select-animation-spin {
  to {
    -webkit-transform: rotate(1turn); } }

.select-container.Select {
  position: relative; }
  .select-container.Select,
  .select-container.Select div,
  .select-container.Select input,
  .select-container.Select span {
    top: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; }
  .select-container.Select.long {
    width: 248px;
    width: 15.5rem; }
  .select-container.Select.short {
    width: 124px;
    width: 7.75rem; }
  .select-container.Select.is-disabled > .Select-control:hover {
    box-shadow: none; }
  .select-container.Select.is-disabled .Select-arrow-zone {
    cursor: default;
    pointer-events: none; }
  .select-container.Select .Select-control {
    border-style: solid;
    cursor: default;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    border-spacing: 0;
    border-collapse: separate;
    outline: none;
    overflow: hidden;
    position: relative;
    width: 100%;
    height: 26px;
    height: 1.625rem; }
    .select-container.Select .Select-control .Select-input:focus {
      outline: none; }
  .select-container.Select .is-searchable .is-open > .Select-control {
    cursor: text; }
  .select-container.Select .is-open > .Select-control {
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0; }
    .select-container.Select .is-open > .Select-control .Select-arrow {
      border-color: transparent transparent #999;
      top: -2px;
      top: -0.125rem;
      border-top-width: 0px;
      border-top-width: 0rem;
      border-right-width: 5px;
      border-right-width: 0.3125rem;
      border-left-width: 5px;
      border-left-width: 0.3125rem;
      border-bottom-width: 5px;
      border-bottom-width: 0.3125rem; }
  .select-container.Select .is-searchable .is-focused:not(.is-open) > .Select-control {
    cursor: text; }
  .select-container.Select .is-focused:not(.is-open) > .Select-control {
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1), 0 0 5px -1px fade(#08c, 50%); }
  .select-container.Select .Select-placeholder,
  .select-container.Select .Select--single > .Select-control .Select-value {
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    line-height: 24px;
    line-height: 1.5rem;
    padding-right: 8px;
    padding-right: 0.5rem;
    padding-left: 8px;
    padding-left: 0.5rem; }
  .select-container.Select .has-value.is-clearable.Select--single > .Select-control .Select-value {
    padding-right: 42px;
    padding-right: 2.625rem; }
  .select-container.Select .has-value.Select--single > .Select-control .Select-value .Select-value-label,
  .select-container.Select .has-value.is-pseudo-focused.Select--single > .Select-control .Select-value .Select-value-label {
    font-size: 14px;
    font-size: 0.875rem; }
  .select-container.Select .has-value.Select--single > .Select-control .Select-value a.Select-value-label,
  .select-container.Select .has-value.is-pseudo-focused.Select--single > .Select-control .Select-value a.Select-value-label {
    cursor: pointer;
    text-decoration: none; }
    .select-container.Select .has-value.Select--single > .Select-control .Select-value a.Select-value-label:hover, .select-container.Select .has-value.Select--single > .Select-control .Select-value a.Select-value-label:focus,
    .select-container.Select .has-value.is-pseudo-focused.Select--single > .Select-control .Select-value a.Select-value-label:hover,
    .select-container.Select .has-value.is-pseudo-focused.Select--single > .Select-control .Select-value a.Select-value-label:focus {
      outline: none;
      text-decoration: underline; }
  .select-container.Select .Select-multi-value-wrapper {
    width: 100%; }
  .select-container.Select .Select-input {
    vertical-align: middle;
    position: absolute;
    height: 24px;
    height: 1.5rem;
    padding-right: 8px;
    padding-right: 0.5rem;
    padding-left: 8px;
    padding-left: 0.5rem; }
    .select-container.Select .Select-input > input {
      background: none transparent;
      border: 0 none;
      box-shadow: none;
      cursor: default;
      display: inline-block;
      font-family: inherit;
      font-size: inherit;
      margin: 0;
      outline: none;
      padding: 3 0 7;
      /* For IE 8 compatibility */
      -webkit-appearance: none;
      position: relative;
      line-height: 14px;
      line-height: 0.875rem;
      padding-top: 3px;
      padding-top: 0.1875rem; }
      .is-focused .select-container.Select .Select-input > input {
        cursor: text; }
  .select-container.Select .Select-value {
    margin-left: 8px;
    margin-left: 0.5rem; }
  .select-container.Select .has-value.is-pseudo-focused .Select-input {
    opacity: 0; }
  .select-container.Select .Select-control:not(.is-searchable) > .Select-input {
    outline: none; }
  .select-container.Select .Select-loading-zone {
    cursor: pointer;
    display: table-cell;
    position: relative;
    text-align: center;
    vertical-align: middle;
    width: 16px;
    width: 1rem; }
  .select-container.Select .Select-loading {
    -webkit-animation: Select-animation-spin 400ms infinite linear;
    -o-animation: Select-animation-spin 400ms infinite linear;
    animation: Select-animation-spin 400ms infinite linear;
    width: 16px;
    height: 16px;
    box-sizing: border-box;
    border-radius: 50%;
    border: 2px solid #ccc;
    border-right-color: #333;
    display: inline-block;
    position: relative;
    vertical-align: middle; }
  .select-container.Select .Select-clear-zone {
    -webkit-animation: Select-animation-fadeIn 200ms;
    -o-animation: Select-animation-fadeIn 200ms;
    animation: Select-animation-fadeIn 200ms;
    color: #999;
    cursor: pointer;
    display: table-cell;
    position: relative;
    text-align: center;
    vertical-align: middle;
    width: 17px;
    width: 1.0625rem; }
    .select-container.Select .Select-clear-zone:hover {
      color: #D0021B; }
  .select-container.Select .Select-clear {
    display: inline-block;
    font-size: 18px;
    line-height: 1; }
  .select-container.Select .Select--multi .Select-clear-zone {
    width: 17px;
    width: 1.0625rem; }
  .select-container.Select .Select--multi .Select-multi-value-wrapper {
    display: inline-block; }
  .select-container.Select .Select .Select-aria-only {
    display: inline-block;
    height: 1px;
    height: 0.0625rem;
    width: 1px;
    width: 0.0625rem;
    margin: -1px;
    margin: -0.0625rem;
    clip: rect(0, 0, 0, 0);
    overflow: hidden;
    float: left; }
  .select-container.Select .Select-arrow-zone {
    cursor: pointer;
    display: table-cell;
    position: relative;
    text-align: center;
    vertical-align: middle;
    width: 25px;
    width: 1.5625rem; }
  .select-container.Select .Select-arrow {
    border-color: #999 transparent transparent;
    border-style: solid;
    display: inline-block;
    height: 0;
    width: 0;
    top: 0;
    position: relative;
    border-top-width: 5px;
    border-top-width: 0.3125rem;
    border-right-width: 5px;
    border-right-width: 0.3125rem;
    border-left-width: 5px;
    border-left-width: 0.3125rem;
    border-bottom-width: 2.5px;
    border-bottom-width: 0.15625rem; }
  .select-container.Select .is-open .Select-arrow, .select-container.Select .Select-arrow-zone:hover > .Select-arrow {
    border-top-color: #666; }

@-webkit-keyframes Select-animation-fadeIn {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

@keyframes Select-animation-fadeIn {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }
  .select-container.Select .Select-menu-outer {
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.06);
    box-sizing: border-box;
    position: absolute;
    top: 100%;
    z-index: 1000;
    -webkit-overflow-scrolling: touch;
    width: calc(100%);
    width: calc(100%)/16pxrem;
    margin-top: -1px;
    margin-top: -0.0625rem;
    max-height: 226px;
    max-height: 14.125rem;
    font-size: 14px;
    font-size: 0.875rem; }
  .select-container.Select .Select-menu {
    overflow-y: auto;
    max-height: 224px;
    max-height: 14rem; }
  .select-container.Select .Select-option {
    box-sizing: border-box;
    cursor: pointer;
    display: block;
    padding-top: 6px;
    padding-top: 0.375rem;
    padding-bottom: 6px;
    padding-bottom: 0.375rem;
    padding-right: 8px;
    padding-right: 0.5rem;
    padding-left: 8px;
    padding-left: 0.5rem; }
    .select-container.Select .Select-option:last-child {
      border-bottom-right-radius: 4px;
      border-bottom-left-radius: 4px; }
  .select-container.Select .Select-noresults {
    box-sizing: border-box;
    color: #999999;
    cursor: default;
    display: block;
    padding: 6px 8px; }
  .select-container.Select .Select--multi .Select-input {
    vertical-align: middle;
    padding: 0;
    margin-left: 8px;
    margin-left: 0.5rem; }
  .select-container.Select .Select--multi.has-value .Select-input {
    margin-left: 5px;
    margin-left: 0.3125rem; }
  .select-container.Select .Select--multi .Select-value {
    display: inline-block;
    vertical-align: top;
    margin-left: 5px;
    margin-left: 0.3125rem;
    margin-top: 5px;
    margin-top: 0.3125rem;
    font-size: 14px;
    font-size: 0.875rem; }
  .select-container.Select .Select--multi .Select-value-icon,
  .select-container.Select .Select--multi .Select-value-label {
    display: inline-block;
    vertical-align: middle; }
  .select-container.Select .Select--multi .Select-value-label {
    cursor: default;
    padding: 2px 5px;
    border-bottom-right-radius: 2px;
    border-top-right-radius: 2px; }
  .select-container.Select .Select--multi a.Select-value-label {
    cursor: pointer;
    text-decoration: none; }
    .select-container.Select .Select--multi a.Select-value-label:hover {
      text-decoration: underline; }
  .select-container.Select .Select--multi .Select-value-icon {
    cursor: pointer;
    padding: 1px 5px 3px;
    border-bottom-left-radius: 2px;
    border-top-left-radius: 2px; }
  .select-container.Select .Select--multi.is-disabled .Select-value-icon {
    cursor: not-allowed; }
  .theme-dark .select-container.Select.is-disabled > .Select-control {
    background-color: #838d96; }
  .theme-dark .select-container.Select .Select-control {
    background-color: #121416;
    border: 1px solid #3e4145;
    color: #fff; }
    .theme-dark .select-container.Select .Select-control:hover, .theme-dark .select-container.Select .Select-control:focus {
      border-color: #afb9c3; }
  .theme-dark .select-container.Select.error .Select-control {
    border-color: #fc540a; }
  .theme-dark .select-container.Select .is-open > .Select-control {
    background: #121416;
    border-color: #6a737c; }
  .theme-dark .select-container.Select .is-focused:not(.is-open) > .Select-control {
    border-color: #6a737c; }
  .theme-dark .select-container.Select .Select-placeholder,
  .theme-dark .select-container.Select .Select--single > .Select-control .Select-value {
    color: #6a737c; }
  .theme-dark .select-container.Select .has-value.Select--single > .Select-control .Select-value .Select-value-label,
  .theme-dark .select-container.Select .has-value.is-pseudo-focused.Select--single > .Select-control .Select-value .Select-value-label {
    color: #fff; }
  .theme-dark .select-container.Select .has-value.Select--single > .Select-control .Select-value a.Select-value-label:hover, .theme-dark .select-container.Select .has-value.Select--single > .Select-control .Select-value a.Select-value-label:focus,
  .theme-dark .select-container.Select .has-value.is-pseudo-focused.Select--single > .Select-control .Select-value a.Select-value-label:hover,
  .theme-dark .select-container.Select .has-value.is-pseudo-focused.Select--single > .Select-control .Select-value a.Select-value-label:focus {
    color: #6a737c; }
  .theme-dark .select-container.Select .Select-input > input {
    color: #fff; }
  .theme-dark .select-container.Select .Select-menu-outer {
    background-color: #121416;
    border: 1px solid #3e4145;
    border-top-color: #3e4449; }
  .theme-dark .select-container.Select .Select-option {
    background-color: #121416;
    color: #fff; }
    .theme-dark .select-container.Select .Select-option.is-selected {
      background-color: #242628;
      color: #fff; }
    .theme-dark .select-container.Select .Select-option.is-focused {
      background-color: #242628;
      color: #fff; }
    .theme-dark .select-container.Select .Select-option.is-disabled {
      color: #838d96;
      cursor: default; }
  .theme-dark .select-container.Select .Select--multi .Select-value {
    background-color: #121416;
    border: 1px solid #6a737c;
    color: #fff; }
  .theme-dark .select-container.Select .Select--multi a.Select-value-label {
    color: #fff; }
  .theme-dark .select-container.Select .Select--multi .Select-value-icon {
    border-right: 1px solid #6a737c; }
    .theme-dark .select-container.Select .Select--multi .Select-value-icon:hover, .theme-dark .select-container.Select .Select--multi .Select-value-icon:focus {
      background-color: #242628;
      color: #fff; }
    .theme-dark .select-container.Select .Select--multi .Select-value-icon:active {
      background-color: #6a737c; }
  .theme-dark .select-container.Select .Select--multi.is-disabled .Select-value {
    background-color: #121416;
    border: 1px solid #6a737c;
    color: #838d96; }
  .theme-dark .select-container.Select .Select--multi.is-disabled .Select-value-icon {
    border-right-color: #6a737c; }
    .theme-dark .select-container.Select .Select--multi.is-disabled .Select-value-icon:hover, .theme-dark .select-container.Select .Select--multi.is-disabled .Select-value-icon:focus, .theme-dark .select-container.Select .Select--multi.is-disabled .Select-value-icon:active {
      background-color: #121416; }
  .theme-light .select-container.Select.is-disabled > .Select-control {
    background-color: #838d96; }
  .theme-light .select-container.Select .Select-control {
    background-color: #fff;
    border: 1px solid #3e4145;
    color: #333; }
    .theme-light .select-container.Select .Select-control:hover, .theme-light .select-container.Select .Select-control:focus {
      border-color: #afb9c3; }
  .theme-light .select-container.Select.error .Select-control {
    border-color: #fc540a; }
  .theme-light .select-container.Select .is-open > .Select-control {
    background: #fff;
    border-color: #c8c8c8; }
  .theme-light .select-container.Select .is-focused:not(.is-open) > .Select-control {
    border-color: #c8c8c8; }
  .theme-light .select-container.Select .Select-placeholder,
  .theme-light .select-container.Select .Select--single > .Select-control .Select-value {
    color: #666; }
  .theme-light .select-container.Select .has-value.Select--single > .Select-control .Select-value .Select-value-label,
  .theme-light .select-container.Select .has-value.is-pseudo-focused.Select--single > .Select-control .Select-value .Select-value-label {
    color: #333; }
  .theme-light .select-container.Select .has-value.Select--single > .Select-control .Select-value a.Select-value-label:hover, .theme-light .select-container.Select .has-value.Select--single > .Select-control .Select-value a.Select-value-label:focus,
  .theme-light .select-container.Select .has-value.is-pseudo-focused.Select--single > .Select-control .Select-value a.Select-value-label:hover,
  .theme-light .select-container.Select .has-value.is-pseudo-focused.Select--single > .Select-control .Select-value a.Select-value-label:focus {
    color: #c8c8c8; }
  .theme-light .select-container.Select .Select-input > input {
    color: #333; }
  .theme-light .select-container.Select .Select-menu-outer {
    background-color: #fff;
    border: 1px solid #3e4145;
    border-top-color: #e4e4e4; }
  .theme-light .select-container.Select .Select-option {
    background-color: #fff;
    color: #333; }
    .theme-light .select-container.Select .Select-option.is-selected {
      background-color: #dadada;
      color: #333; }
    .theme-light .select-container.Select .Select-option.is-focused {
      background-color: #dadada;
      color: #333; }
    .theme-light .select-container.Select .Select-option.is-disabled {
      color: #838d96;
      cursor: default; }
  .theme-light .select-container.Select .Select--multi .Select-value {
    background-color: #fff;
    border: 1px solid #c8c8c8;
    color: #333; }
  .theme-light .select-container.Select .Select--multi a.Select-value-label {
    color: #333; }
  .theme-light .select-container.Select .Select--multi .Select-value-icon {
    border-right: 1px solid #c8c8c8; }
    .theme-light .select-container.Select .Select--multi .Select-value-icon:hover, .theme-light .select-container.Select .Select--multi .Select-value-icon:focus {
      background-color: #dadada;
      color: #333; }
    .theme-light .select-container.Select .Select--multi .Select-value-icon:active {
      background-color: #c8c8c8; }
  .theme-light .select-container.Select .Select--multi.is-disabled .Select-value {
    background-color: #fff;
    border: 1px solid #c8c8c8;
    color: #838d96; }
  .theme-light .select-container.Select .Select--multi.is-disabled .Select-value-icon {
    border-right-color: #c8c8c8; }
    .theme-light .select-container.Select .Select--multi.is-disabled .Select-value-icon:hover, .theme-light .select-container.Select .Select--multi.is-disabled .Select-value-icon:focus, .theme-light .select-container.Select .Select--multi.is-disabled .Select-value-icon:active {
      background-color: #fff; }
